<button tabindex={{tabIndex}} class="trigger" onclick={{action "toggle"}} disabled={{disabled}}>
  {{#if (hasBlock "inverse")}}
    {{yield to="inverse"}}
  {{else}}
    {{label}}
  {{/if}}
</button>

{{#if isOpen}}
  {{#ember-wormhole to=destinationElementId renderInPlace=renderInPlace}}
    <div style={{computedPositionStyle}} class="deluge-menu-button-content">{{yield}}</div>
  {{/ember-wormhole}}
{{/if}}