<button tabindex={{tabIndex}} class="trigger" onclick={{action "toggle"}} disabled={{disabled}}>
  {{#if (hasBlock "inverse")}}
    {{yield to="inverse"}}
  {{else}}
    {{label}}
  {{/if}}
</button>

{{#if isOpen}}
  {{#ember-wormhole to=destinationElementId renderInPlace=renderInPlace}}
    {{!-- {{#ember-tether
      target=dropdownTarget
      targetAttachment="bottom left"
      attachment="top left"
    }} --}}
      <div style={{computedPositionStyle}} class="deluge-menu-button-content">{{yield}}</div>
    {{!-- {{/ember-tether}} --}}
  {{/ember-wormhole}}
{{/if}}