<button tabindex={{tabIndex}} class="trigger" onclick={{action "toggle"}} disabled={{disabled}}>
  {{#if (hasBlock "inverse")}}
    {{yield to="inverse"}}
  {{else}}
    {{label}}
  {{/if}}
</button>

{{#if isOpen}}
  {{#ember-tether
    target=dropdownTarget
    targetAttachment=triggerAttachment
    attachment=dropdownAttachment
    renderInPlace=renderInPlace
  }}
    <deluge-menu-button-content style={{computedPositionStyle}}>{{yield publicAPI}}</deluge-menu-button-content>
  {{/ember-tether}}
{{/if}}